Repository wiyco/next-template: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint, prettier

eslint:
  run: npx eslint {staged_files} --fix
  stage_fixed: true
  skip:
  - merge
  - rebase

stylelint:
  run: npx stylelint {staged_files} --fix
  stage_fixed: true
  skip:
  - merge
  - rebase

prettier:
  run: npx prettier {staged_files} --write
  stage_fixed: true
  skip:
  - merge
  - rebase

chore(storybook): apply tailwind styles
  .storybook/preview.ts
Due: eslint, prettier

refactor(providers): rename provider to providers
  src/app/layout.tsx
  src/app/providers.tsx
Due: eslint, prettier

chore(deps): uninstall @svgr/webpack
  package-lock.json
  package.json
Due: none

chore(next): remove webpack config related to svgr
  next.config.mjs
Due: none

chore(tsconfig): remove svgr type from include
  svgr.d.ts
  tsconfig.json
Due: eslint, prettier

refactor(index): remove svg icons
  public/assets/icons/creative-commons.svg
  src/app/(pages)/page.tsx
Due: eslint, prettier

chore(deps): uninstall nextui
  package-lock.json
  package.json
Due: none

refactor(index): remove nextui related
  src/app/(pages)/page.tsx
Due: eslint, prettier

chore(tailwind): remove nextui from plugins
  tailwind.config.ts
Due: eslint, prettier

refactor(providers): remove nextui provider
  src/app/providers.tsx
Due: eslint, prettier

chore(eslint): settings of import/internal-regex
  .eslintrc.cjs
Due: none

docs(readme): delete nextui instructions
  README.md
Due: prettier

chore(eslint): reorder settings
  .eslintrc.cjs
Due: none

chore(deps): package updates
  package-lock.json
Due: none

docs(readme): correct link index
  README.md
Due: prettier

refactor(cn): rewrite param type
  src/utils/cn.ts
Due: eslint, prettier

chore(lefthook): fix no files matching the pattern
  lefthook.yml
Due: none

refactor: use inline exports
  src/lib/swr.ts
  src/utils/converter/num-to-short-string.ts
  src/utils/index.ts
  src/utils/sleep.ts
  test/utils/num-to-short-string.test.ts
Due: eslint, prettier

chore(tailwind): remove nextui related from content
  tailwind.config.ts
Due: eslint, prettier

chore(tailwind): add stories path to content
  tailwind.config.ts
Due: eslint, prettier

chore(tailwind): align order of extensions
  tailwind.config.ts
Due: eslint, prettier

refactor(consts): rename directory
  src/constants/index.ts
Due: eslint, prettier

refactor(styles): add breakpoints docs
  src/styles/common/_breakpoints.scss
Due: stylelint, prettier

refactor(styles): add easings docs
  src/styles/common/_easings.scss
Due: stylelint, prettier

refactor(styles): separate base of tailwind
  src/styles/globals.scss
  src/styles/tailwind.scss
Due: stylelint, prettier

chore(storybook): only import tailwind styles for preview
  .storybook/preview.ts
Due: eslint, prettier

chore(tsconfig): remove unused paths
  tsconfig.json
Due: none

refactor(root): correct import statements
  src/app/layout.tsx
Due: eslint, prettier

refactor(cn): add docs
  src/utils/cn.ts
Due: eslint, prettier

test(cn): add tests
  src/utils/cn.test.ts
Due: eslint, prettier

refactor(sleep): add docs
  src/utils/sleep.ts
Due: eslint, prettier

test(sleep): add tests
  src/utils/sleep.test.ts
Due: eslint, prettier

delete: converter directory
  src/utils/converter/index.ts
  src/utils/converter/num-to-short-string.ts
  src/utils/index.ts
  test/utils/num-to-short-string.test.ts
Due: eslint, prettier

refactor(root): metadata of layout
  src/app/layout.tsx
Due: eslint, prettier

refactor(root): replace sample page
  src/app/(pages)/page.tsx
  src/app/api/route.ts
Due: eslint, prettier

refactor(utils): separation and exports
  src/lib/index.ts
  src/lib/swr/fetcher.ts
  src/lib/swr/index.ts
Due: eslint, prettier

chore(scripts): format parallelly
  package.json
Due: none

chore(scrips): rename script alias of storybook
  package.json
Due: none

chore(deps): install sass-loader
  package-lock.json
  package.json
Due: none

chore(next): fix legacy api error of sass
  next.config.mjs
Due: none

Path conditions:
  eslint: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{css,scss}
  prettier: any of: *.{js,jsx,ts,tsx,css,scss,md}
