Repository wiyco/next-template: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint, prettier

lefthook.yml:

# https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "*.{js,jsx,ts,tsx}"
      run: npx eslint {staged_files} --fix
      stage_fixed: true
      skip:
        - merge
        - rebase

    stylelint:
      glob: "*.{css,scss}"
      run: npx stylelint {staged_files} --fix
      stage_fixed: true
      skip:
        - merge
        - rebase

    prettier:
      glob: "*.{js,jsx,ts,tsx,css,scss,md}"
      run: npx prettier {staged_files} --write
      stage_fixed: true
      skip:
        - merge
        - rebase

post-merge:
  commands:
    npm:
      glob: "{package.json}"
      run: npm i

chore(package): delete description
  package.json
Due: none

chore(version): v0.0.1
  package-lock.json
  package.json
Due: none

chore(scripts): use turbo for dev
  package.json
Due: none

chore(deps): install tailwind-variants
  package-lock.json
  package.json
Due: none

chore(deps): package updates
  package-lock.json
Due: none

chore(vscode): add recommend extensions
  .vscode/extensions.json
Due: none

chore(vscode): add specific languages
  .vscode/settings.json
Due: none

refactor(types): rename index file
  src/types/index.d.ts
  src/types/index.ts
Due: eslint, prettier

feat(component): add card
  src/components/card/card-footer.tsx
  src/components/card/card-image.tsx
  src/components/card/card-text.tsx
  src/components/card/card.tsx
  src/components/card/index.ts
  src/components/index.ts
Due: eslint, prettier

chore(tailwind): extend aspect-ratio
  tailwind.config.ts
Due: eslint, prettier

chore(tailwind): use satisfies as type inference
  tailwind.config.ts
Due: eslint, prettier

feat(public): add sample image
  public/images/wiyco-avatar.webp
Due: none

feat(card): add stories
  stories/components/Card.stories.tsx
  stories/constants/index.ts
  stories/constants/urls.ts
Due: eslint, prettier

delete: unused components
  src/components/FullScreen.tsx
  stories/components/FullScreen.stories.tsx
Due: eslint, prettier

chore(npm): enable pre-post scripts
  .npmrc
Due: none

chore(nvm): require node >=20.18
  .nvmrc
Due: none

chore(proto): requirement of node and npm
  .prototools
Due: none

fix(card-image): missing properties
  src/components/card/card-image.tsx
Due: eslint, prettier

chore(env): add example
  .env.example
Due: none

docs(readme): rewrite more rich
  README.md
Due: prettier

chore(lefthook): add mdx
  lefthook.yml
Due: none

refactor(swr): named export
  src/lib/swr/fetcher.ts
Due: eslint, prettier

refactor(swr): rename params
  src/lib/swr/fetcher.ts
Due: eslint, prettier

refactor(swr): add request-init param
  src/lib/swr/fetcher.ts
Due: eslint, prettier

feat: add array-to-object converter
  src/utils/conv/array/index.ts
  src/utils/conv/array/to-object.test.ts
  src/utils/conv/array/to-object.ts
  src/utils/conv/index.ts
  src/utils/index.ts
Due: eslint, prettier

feat(root-layout): suppressHydrationWarning at html
  src/app/layout.tsx
Due: eslint, prettier

feat(types): add types of next.js related
  src/types/index.ts
  src/types/next.ts
Due: eslint, prettier

feat(types): add utility types
  src/types/index.ts
  src/types/utils.ts
Due: eslint, prettier

feat(types-next): make type keys specifiable
  src/types/next.ts
Due: eslint, prettier

refactor(swr): clean doc
  src/lib/swr/fetcher.ts
Due: eslint, prettier

refactor(styles): unwrap common
  src/styles/_breakpoints.scss
  src/styles/_easings.scss
Due: stylelint, prettier

fixup!: temp commit
  postcss.config.mjs
Due: none

fix(tyles): correct empty-object type
  src/types/utils.ts
Due: eslint, prettier

chore: migrate to flat config / next v15
  .eslintrc.cjs
  .gitignore
  .storybook/preview.ts
  eslint.config.mjs
  lefthook.yml
  next.config.mjs
  next.config.ts
  package-lock.json
  package.json
  postcss.config.mjs
  prettier.config.mjs
  src/app/layout.tsx
  src/types/next.ts
  stylelint.config.mjs
  tsconfig.json
Due: eslint, prettier

chore(vitest-config): cleanup
  vitest.config.mts
Due: none

chore(scripts): add eslint inspector
  package.json
Due: none

chore(vscode): cleanup settings
  .vscode/settings.json
Due: none

assets: replace logo
  public/assets/icons/wiyco.svg
  public/assets/wiyco-logo.svg
Due: none

refactor: cleanup docs
  src/lib/swr/fetcher.ts
  src/utils/cn.ts
  src/utils/conv/array/to-object.ts
  src/utils/sleep.ts
Due: eslint, prettier
