Repository wiyco/next-template: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint, prettier

eslint:
  run: npx eslint "{staged_files}" --max-warnings=0 --cache
  stage_fixed: true
  skip:
  - merge
  - rebase

stylelint:
  run: npx stylelint "{staged_files}" --cache
  stage_fixed: true
  skip:
  - merge
  - rebase

prettier:
  run: npx prettier "{staged_files}" --cache
  stage_fixed: true
  skip:
  - merge
  - rebase

chore(eslint-config): correctly flatten custom configs/rules
  eslint.config.mjs
Due: eslint, prettier

feat(types): strict types for next search parameters
  src/types/next.ts
Due: eslint, prettier

feat: template v1
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/quality.yml
  .github/workflows/test.yml
  .gitignore
  .npmrc
  .nvmrc
  .prototools
  .vscode/settings.json
  README.md
  eslint.config.mjs
  lefthook.yml
  package-lock.json
  package.json
  pnpm-lock.yaml
  postcss.config.mjs
  src/components/card/card-text.tsx
  src/styles/tailwind.scss
  stylelint.config.mjs
  tsconfig.json
  vitest.config.mts
Due: eslint, stylelint, prettier

1.0.0-0
  package.json
Due: none

docs(readme): pnpm logo
  README.md
Due: prettier

feat(favicon): my icon
  src/app/favicon.ico
Due: none

refactor(providers): make props safer
  src/app/providers.tsx
Due: eslint, prettier

ci(dependabot): enable auto merge
  .github/workflows/dependabot-auto-merge.yml
Due: none

chore(dependabot): weekly automatic updates
  .github/dependabot.yml
Due: none

chore(prettier): ignore pnpm-lock file
  .prettierignore
Due: none

chore(deps): dependency updates
  package.json
  pnpm-lock.yaml
Due: none

chore(license): add mit license
  LICENSE
Due: none

ci(dependabot): fix gh token required
  .github/workflows/dependabot-auto-merge.yml
Due: none

chore(engines): use node v20
  package.json
Due: none

ci: fix corepack error
  .github/workflows/build.yml
  .github/workflows/quality.yml
  .github/workflows/test.yml
Due: none

chore(deps): package updates
  package.json
  pnpm-lock.yaml
Due: none

chore(eslint): flat config migration of react hooks
  eslint.config.mjs
Due: eslint, prettier

chore(dependabot): enable major version pull requests
  .github/dependabot.yml
Due: none

Revert "chore(deps-dev): bump eslint-plugin-storybook from 0.12.0 to 9.0.7"
  package.json
  pnpm-lock.yaml
Due: none

chore(dependabot): add `cooldown` to prevent supply chain attack
  .github/dependabot.yml
Due: none

chore(vscode): fix `typescript.tsdk` path
  .vscode/settings.json
Due: none

chore(deps): bump next to v16
  package.json
  pnpm-lock.yaml
Due: none

chore(tsconfig): reference latest template
  tsconfig.json
Due: none

chore(eslint): conform to latest docs
  eslint.config.mjs
Due: eslint, prettier

chore(dependabot): add globals
  .github/dependabot.yml
Due: none

delete: tailwind.config.ts
  tailwind.config.ts
Due: eslint, prettier

chore(next): fix `exports is not defined in ES module scope`
  next.config.mjs
Due: eslint, prettier

chore(scripts): delete `next lint` commands
  package.json
Due: none

ci(quality): delete `next lint` jobs
  .github/workflows/quality.yml
Due: none

chore(vscode): set default formatter for specific files
  .vscode/settings.json
Due: none

chore(tsconfig): run `pnpm format`
  tsconfig.json
Due: none

chore(dependabot): run `pnpm format`
  .github/dependabot.yml
Due: none

chore(vscode): bump prettier extension to v12
  .vscode/extensions.json
  .vscode/settings.json
Due: none

chore(deps): bump storybook to v10
  package.json
  pnpm-lock.yaml
Due: none

chore(gitignore): bump storybook to v10
  .gitignore
Due: none

chore(dependabot): include eslint & chromatic in storybook group
  .github/dependabot.yml
Due: none

chore(storybook): bump storybook to v10
  .storybook/main.ts
  .storybook/preview.ts
Due: eslint, prettier

stories(card): bump storybook to v10
  stories/components/Card.stories.tsx
Due: eslint, prettier

chore(vscode): config for intellisense
  .vscode/settings.json
Due: none

chore(stylelint): add `at-rule-no-unknown` for tailwindcss
  stylelint.config.mjs
Due: eslint, prettier

Path conditions:
  eslint: any of: *.{js,jsx,ts,tsx,cjs,mjs,cts,mts}
  stylelint: any of: *.{css,scss}
  prettier: any of: *.{js,jsx,ts,tsx,cjs,mjs,cts,mts,css,scss,md,mdx}
